services:
  postgres:
    restart: always
    image: docker.io/postgres:17-alpine
    volumes:
      - postgres:/var/lib/postgresql/data
    env_file:
      - .env
    networks:
      - postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB" ]
      interval: 1s
      timeout: 10s
      start_period: 10s
      retries: 10

  app:
    restart: always
    ports:
      - "3000:3000"
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - frt:/app/media
      - .:/app
    working_dir: /app
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    networks:
      - postgres

volumes:
  postgres:
  frt:

networks:
  postgres:
    driver: bridge
